<%= image_tag @image.url, class: 'js-image' %>

<% if @image.tag_list.present? %>
<p>
  Tags: <span class="js-tags"><%= @image.tag_list %></span>
</p>
<% end %>

<p>
  <%= link_to 'Delete this image', image_path(@image),
              method: :delete,
              data: {confirm: 'Are you sure?'} %>
</p>
<p>
  <%= link_to 'View all images', images_path %>
</p>
