<%= image_tag @image.url, class: 'js-image' %>

<% if @image.tag_list.present? %>
<p>
  Tags: <span class="js-tags"><%= @image.tag_list %></span>
</p>
<% end %>

<%= link_to 'View all images', images_path %>
